/*
  Container
*/

.App {
  width: 90%;
  margin: auto;
}

/*
  Component Styles
*/

.sort-arrow:hover {
  transform: scale(1.1);
  transition-duration: 25ms;
}

.quote-row {
  max-height: 200px;
}

.kanye-img {
  max-height: 100px;
  max-width: 100px;
}


/*
  Like Button Styles
*/

.like-button {
  color: red;
}

.like-button:hover {
  transform: scale(1.1);
  transition: 20ms;
  cursor: pointer;
}

.like-button:focus {
  transform: scale(1);
}

.like-button-liked {
  opacity: .9;
}

.like-button-not-liked {
  opacity: .5;
}

.like-button-liked:hover {
  opacity: .6;
  transition-duration: 7ms;
}

.like-button-not-liked:hover {
  opacity: .8;
  transition-duration: 7ms;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .App {
    width: 75%;
  }
}